@import "_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.wrapper {
  height: 100vh;
  background-color: black;
}

//main box

.weather__main {
  height: 500px;
  width: 400px;
  border-radius: 10px;
  background-color: $main-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px white;
  box-shadow: 0 0 20px red;
}

//search in main-box + icons

.search__field {
  width: 90%;
  text-align: center;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;

  input {
    font-size: 25px;
    height: 50px;
    width: 90%;
    border: none;
    &:focus {
      outline: none;
    }
  }

  ion-icon {
    height: 30px;
    width: 40px;
  }

  button {
    height: 50px;
    background: none;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}

//middle weather info (img, temperature, description)
.weather__info {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  & img {
    width: 150px;
    height: 150px;
  }
}

.temperature {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bold;
}

.description {
  font-size: 25px;
}

//footer (humidity, wind speed)
.weather__other {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  color: white;
  ion-icon {
    font-size: 55px;
  }
}

.humidity {
  display: flex;
  align-items: center;

  &--percent {
    font-size: 25px;
  }
}

.wind {
  display: flex;
  align-items: center;

  &--speed {
    font-size: 25px;
  }

  &--name {
    font-size: 15px;
  }
}

.other_wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
